body {
    margin: 0px;
    font-family: "TT Norms Pro", sans-serif;
    width: 100%;
    background-color: #302635;
    overflow-y: scroll;
}

/*------------------------*/
.header {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background: url("../images/header-texture.png") repeat-x center top -10px;
    height: 108px;
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
}

.traverse {
    font-family: "TT Norms Pro", sans-serif;
    text-decoration: none;
    color: rgb(38, 38, 38);
    font-weight: bold;
    font-size: 14px;
}

.traverse2 {
    font-family: "TT Norms Pro", sans-serif;
    text-decoration: none;
    color: #67729D;
    font-weight: bold;
    font-size: 14px;

}

.traverse3 {
    font-family: "TT Norms Pro", sans-serif;
    text-decoration: none;
    color: rgb(38, 38, 38);
    font-weight: bold;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.WebTitle {
    font-family: "TT Norms Pro", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #67729D;
    display: flex;
    flex-direction: row;
    align-items: center;
    pointer-events: none;
}

.Cpart1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Cpart2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inalign1,
.inalign2,
.inalign3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 20px;
    transition: 0.2s;
    cursor: pointer;
}

.traverse:hover {
    color: #BB9CC0;
}

.traverse2:hover {
    color:#BB9CC0;
}

.traverse3:hover {
    color: #BB9CC0;
}

.Signdiv {
    background-color: #BB9CC0;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.2s;
    margin-left: 20px;
    cursor: pointer;
    display: inline-block;
}

.Signdiv:hover {
    background-color: #947a98;
}

.Signdiv {
    background-color: #BB9CC0;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.2s;
    margin-left: 20px;
    cursor: pointer;
    display: inline-block;
}

.headme{
    height: 800px;
    overflow: hidden;
    object-fit:contain;
    object-position:top;
    position: relative;
}
.picture{
    height: 900px;
    width: 1920px;
}
.insideword{
    position: absolute;
    font-size: 60px;
    font-weight: bold;
    color: white;
    top: 30%;
    right: 25%;
    z-index: 2;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.darkback{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.444);
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 1;
}
.descme{
    text-align: center;
    width: 700px;
    font-size: 20px;
    font-weight: normal;
}
.contacts{
    display: grid;
    grid-template-columns: 500px 500px;
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 60px;
    z-index: 2;
}
.c1,.c2{
    background-color: white;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    text-align: center;
    justify-content: space-between;
}
.c2{
    margin-top: 30px;
    width: 500px;
}
.centerme{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.picicon{
    height: 90px;
    width: 90px;
}
.headcont{
    font-weight: bold;
}
.info{
    color: blue;
}
.footer{
    height: 50px;
}


/**/
::-webkit-scrollbar {
    width: 12px;
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}


::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.footer{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    background-color: rgb(12 12 13);
    height: 70px;
    color: white;
}



.centerme:after {
    width: 100%;
    height: 124px;
    content: "";
    display: block;
    position: relative;
    left: 0;
    top: 40px;
    background: url(../images/footer-texture.png) repeat-x;
}

