.mainhead {
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    color: black;
}

.mainhead::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 150px;
    pointer-events: none; 
    z-index: -1; 
    top: 0;
    left: 0;
    background: url(../images/header-texture.png) repeat-x;
    background-size: auto 100%;
}

.center{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.circle-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.circle-1 {
    height: 70px;
    width: 70px;
    border-color: black;
    border-radius: 300px;
    border-style: solid;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(238, 130, 191);
}

.circle-1 > div {
    position: absolute;
    border-color: black;
    border-radius: 300px;
    border-style: solid;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.username-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 8px;
}

.username {
    padding-left: 5px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
}

.search-container {
    display: flex;
    flex-direction: row;
}

.search-input {
    display: flex;
    flex-direction: row;
}

.search-btn {
    margin-right: 20px;
}

.menu-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    align-items: center;
}

.statistics-link {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.logout-btn {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-right: 20px;
    border: 1px solid black;
}

.search-btn{
    border: 2px solid black;
}

.up-level-btn {
    background-color: #603F8B;
    color: black;
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    cursor: pointer;
}

.add-folder-section {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-left: 15rem;
}


.modal-content {
    width: 550px;
    border: 2px solid #f5f5dc !important; 
    box-shadow: 5px 5px 0px 2px #f5f5dc ;
}

.modal-header {
    background-color: #f5f5dc;
    color: white;
}

.modal-header .btn-close {
    background-color: white;
    border-radius: 50%;
    padding: 2px 5px;
}

.modal-body {
    background-color: #6c5a96;
    color: white;
}

.add-folder-form, .edit-folder-form {
    padding: 20px;
}

.input-field {
    margin-bottom: 15px;
}

.modal-title{
    color: black;
}
.input-field .label {
    margin-bottom: 5px;
    font-weight: bold;
}

.qnameinp, .qdecinp{
    color: black;
    background-color: #f8ebff;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}

 .Eqnameinp, .Eqdecinp, .Idinp {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}

.btn-container {
    text-align: right;
}

.AddFolderbut, .EditFolderbut {
    padding: 10px 20px;
    background-color: #EE82BF;
    color: #f5f5dc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.AddFolderbut:hover, .EditFolderbut:hover {
    background-color: #c85094;
}
