.mainbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 740px;
    /*background-color:blanchedalmond;*/
    background-color: #b1507c;
    ;
    box-shadow: inset 0px 300px 700px #5d4795;
    font-family: 'Lilita One', sans-serif;
    overflow: auto;
    margin: 0px;
}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleCont {
    width: 450px;
    height: 250px;
    background-color: #603F8B;
    border-style: double;
    border-width: 10px;
    border-color: #f698c5;
    border-radius: 70px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation-name: anim;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    /*animation-name: exitme;
            animation-duration: 0.7s;
            animation-fill-mode: forwards;*/
    pointer-events: none;
    left: 0%;
}

@keyframes anim {
    0% {
        top: 0px;
    }

    50% {
        top: 25px;
    }

    100% {
        top: 0px;
    }
}

@keyframes exitme {
    0% {
        left: 0%;
    }

    100% {
        left: -500%;
    }
}

.triangle {
    width: 0;
    height: 0;
    border-right-width: 70px;
    border-right-style: solid;
    border-right-color: transparent;
    border-bottom-width: 100px;
    border-bottom-style: solid;
    border-bottom-color: #603F8B;
    ;
    transform: rotate(179deg);
    bottom: -94px;
    right: 50px;
    position: absolute;
}

.eyes {
    position: absolute;
    top: -20%;
    left: 3%;
    background-color: rgb(210, 63, 151);
    height: 90px;
    width: 90px;
    border-style: solid;
    border-color: white;
    border-width: 15px;
    border-radius: 100px;
    transition: 0.5s;
    animation-name: eyeme;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

}

.eyes2 {
    position: absolute;
    top: -20%;
    right: 35%;
    background-color: rgb(210, 63, 151);
    height: 90px;
    width: 90px;
    border-style: solid;
    border-color: white;
    border-width: 15px;
    border-radius: 100px;
    transition: 0.5s;
    animation-name: eyeme;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes eyeme {
    0% {
        top: -20%;
    }

    70% {
        top: -20%;
    }

    80% {
        top: -30%;
    }

    100% {
        top: -20%;
    }
}

.titlename {
    margin-top: 40px;
    font-size: 60px;
    color: rgb(250, 178, 226);
}

/*Isert User*/
.InsertUser,
.LogIn {
    height: 70px;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-size: 25px;
    background-color: rgb(210, 63, 151);
    border-style: double;
    border-width: 7px;
    border-color: white;
    border-radius: 50px;
    color: rgb(255, 236, 236);
    cursor: pointer;
    transition: 0.2s;
    /*animation-name: exitbut;
            animation-duration: 0.7s;
            animation-fill-mode: forwards;*/
    position: relative;
    left: 0%;
}

.LogIn {
    margin-top: 30px;
}

@keyframes exitbut {
    from {
        left: 0%;
    }

    to {
        left: 700%;
    }
}

.LogIn:hover {
    height: 80px;
    width: 280px;
}

.LogIn:active {
    transition: 0.0s;
    background-color: rgb(203, 133, 175);
}

.InsertUser:hover {
    height: 80px;
    width: 280px;
}

.InsertUser:active {
    transition: 0.0s;
    background-color: rgb(203, 133, 175);
}

.InsertUserInput,
.LogInInput {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #A16AE8;
    border-style: double;
    border-width: 10px;
    border-color: pink;
    border-radius: 50px;
    padding: 40px;
    z-index: 5;
    top: -900px;
    transition: 0.5s;
}

.fnameinp,
.quizid,
.quizname,
.quizdesc,
.fnameinpp,
.fnamelog {
    height: 25px;
    padding: 10px;
    width: 240px;
    border-radius: 50px;
    border-style: none;

}

.fnamesel,.qtype1{
    border-radius: 50px;
    border-style: none;
    height: 40px;
    width: 240px;
}

.Submitbut,
.Folderbtn,
.Cancelbut,
.Updatebut,
.Logbut,
.placeHolderFolder,
.CancelLogbut,.Submitbutt {
    background-color: rgb(210, 63, 151);
    border-style: solid;
    border-width: 4px;
    border-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 150px;
    height: 40px;
    color: rgb(255, 238, 253);
    border-radius: 100px;
    margin-top: 35px;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Lilita One', sans-serif;

}

.Folderbtn,.Submitbut,.Submitbutt,.Updatebut{
    height: 48px;
}

.Logbut {
    height: 48px;
}

.Folderbtn,.Submitbut:hover {
    height: 50px;
    width: 160px;
}

.Submitbut:active {
    transition: 0.0s;
    background-color: rgb(233, 126, 190);
}


.Updatebut:hover {
    height: 50px;
    width: 160px;
}

.Updatebut:active {
    transition: 0.0s;
    background-color: rgb(233, 126, 190);
}



.Submitbutt:hover {
    height: 50px;
    width: 160px;
}

.Submitbutt:active {
    transition: 0.0s;
    background-color: rgb(233, 126, 190);
}


.Cancelbut:hover {
    height: 50px;
    width: 160px;
}

.Cancelbut:active {
    transition: 0.0s;
    background-color: rgb(233, 126, 190);
}

.Logbut:hover {
    height: 50px;
    width: 160px;
}

.Logbut:active {
    transition: 0.0s;
    background-color: rgb(233, 126, 190);
}

.CancelLogbut:hover {
    height: 50px;
    width: 160px;
}

.CancelLogbut:active {
    transition: 0.0s;
    background-color: rgb(233, 126, 190);
}

.Subcontme {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.centerme,.centerme2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.centerme2{
}
.createbut{
    border-style: solid;
    border-radius: 20px;
    padding: 10px;
    border-color:beige;
    border-width: 5px;
    margin-top: 50px;
}